VITE_FIREBASE_API_KEY=AIzaSyDSXYvkKKX2XYY0h0si2sQ33wSkf4iOVyU
VITE_FIREBASE_AUTH_DOMAIN=grafikvichoda.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=grafikvichoda
VITE_FIREBASE_STORAGE_BUCKET=grafikvichoda.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=590302051415
VITE_FIREBASE_APP_ID=1:590302051415:web:e86ce760c6c704769b3712
